html {
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  font-size: .9em;
  margin: 0;
  border-top: solid 10px #668795;
}

body,
input[type="submit"],
input[type="button"],
button {
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

a, a:link, a:visited {
  color: #2aa9e0;
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

  a:hover {
    background-color: #e7ecee;
    text-decoration: none;
  }

  a img {
    border: none;
  }

header, footer, nav, section {
  display: block;
}

header {
  padding-bottom: 15px;
  background-color: #3e4d53;
}

mark {
  background-color: #a6dbed;
  padding-left: 5px;
  padding-right: 5px;
}

.float-left {
  float: left;
}

.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

h1, h2, h3, h4 {
  color: #000;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 100;
}

h1 {
  font-size: 4.8em;
  margin-top: 0px;
}

  h1 a:link, h1 a:visited, h1 a:active, h1 a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    border: none;
  }

h2 {
  font-size: 1.65em;
  font-weight: 100;
  margin-top: 0px;
}

  h2 a, h2 a:link, h2 a:visited {
    text-decoration: none;
    color: #333;
    border: none;
  }

h3 {
  font-size: 1.65em;
}

h4 {
  font-size: 1.3em;
}

/* main layout
----------------------------------------------------------*/
.content-wrapper {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0px 15px;
}

#body {
  clear: both;
  padding-bottom: 35px;
}

.main-content {
  padding-top: 15px;
}

footer {
  clear: both;
  background-color: #e2e2e2;
  font-size: .8em;
  height: 100px;
}

#headerTitle {
  margin-right: 570px;
}

#search {
  padding-bottom: 5px;
}

article img, article iframe {
  height: auto !important;
  max-width: 100%;
  width: auto !important;
}

article {
    line-height: 1.5em;
}

article h2 {
  line-height: normal;
}

/* social
----------------------------------------------------------*/

.social {
  float: right;
}

  .social div {
    width: 90px;
    height: 90px;
    background-color: red;
    float: left;
    margin: 15px 0px 6px 6px;
  }

    .social div:first-child {
      margin-left: 0px;
    }

  .social img {
    width: 90px;
    height: 90px;
  }

  .social #facebook {
    background-color: #3B5998;
  }

  .social #twitter {
    background-color: #2AA9E0;
  }

  .social #linkedIn {
    background-color: #007FB1;
  }

  .social #email {
    background-color: #D74F2A;
  }

  .social #rss {
    background-color: #F1A20C;
  }

  .social #googlePlus {
    background-color: #CB2C21;
  }

  .social a:hover {
    background-color: transparent;
  }

.strapline {
  font-size: 1.21em;
  margin: 0px;
  color: #ffffff;
}

/* body
----------------------------------------------------------*/
article {
  margin-right: 590px;
}

#bodySideBar,
#headerSideBar {
  width: 590px;
  float: right;
}

#headerSideBar {
  text-align: right;
}

aside {
  float: right;
  width: 50%;
  color: white;
}

  aside div {
    margin-left: 20px;
    margin-bottom: 6px;
    padding: 10px;
  }

    aside div img {
      display: block;
    }

  aside a:link, aside a:visited, aside a:active, aside a:hover {
    color: #FFFFFF;
  }

  aside .doubleBox {
    padding: 0px;
  }

    aside .doubleBox div {
      margin-bottom: 0px;
      width: 134px;
      padding: 0px;
      float: left;
      margin-left: 3px;
    }

      aside .doubleBox div:first-child {
        margin-left: 0px;
        margin-right: 4px;
      }

  aside div h3 {
    margin-top: 0px;
    color: white;
    margin-bottom: 13px;
  }

  /* side bar boxes
----------------------------------------------------------*/

  aside #about {
    background-color: #009cae;
  }

  aside #photo {
    background-color: #022237;
  }

  aside #mvp {
    background-color: #33376F;
  }

  aside #asafaweb {
    background-color: #1F1E1E;
    padding: 0px;
  }

    aside #asafaweb img {
      width: 275px;
      height: 90px;
    }

  aside #photo, aside #mvp {
    height: 134px;
  }

    aside #photo img, aside #mvp img {
      width: 134px;
      height: 134px;
    }

  aside #ebook {
    background-color: #585858;
    padding: 0px;
  }

    aside #ebook img {
      width: 275px;
      height: 129px;
    }

  aside #ad1, aside #ad2 {
    background-color: #959595;
    height: 250px;
  }

  aside #tags {
    background-color: #2d89ef;
  }

    aside #tags .label-size-5 {
      font-size: 1.7em;
    }

    aside #tags .label-size-4 {
      font-size: 1.5em;
    }

    aside #tags .label-size-3 {
      font-size: 1.3em;
    }

    aside #tags .label-size-2 {
      font-size: 1.1em;
    }

    aside #tags .label-size-1 {
      font-size: 0.9em;
    }

  aside #topPosts {
    background-color: #525252;
  }

    aside #topPosts a:hover {
      background-color: #6f6f6f;
    }

  aside #archive {
    background-color: #00a200;
  }

  aside #redgate {
    background-color: #ffffff;
  }

  aside #dzone {
    background-color: #e3e4e5;
  }

  aside #dzone, aside #redgate {
    height: 57px;
  }

    aside #dzone img, aside #redgate img {
      width: 134px;
      height: 57px;
    }

.label {
  font-weight: 700;
}

input {
  border: 1px solid #e2e2e2;
  background: #fff;
  color: #333;
  margin: 0px;
  padding: 0 5px;
  width: 558px;
  height: 30px;
  vertical-align: middle;
}

  input:focus, textarea:focus {
    border: 1px solid #7ac0da;
  }

  input[type="submit"],
  input[type="button"],
  button {
    background-color: #e2e2e2;
    cursor: pointer;
    font-size: 0.8em;
    width: 60px;
    padding: 0 5px;
    height: 32px;
    vertical-align: middle;
  }

/******************************
* Put side bars under each other
******************************/
@media only screen and (max-width: 1240px) {
  article {
    margin-right: 295px;
  }

  #bodySideBar {
    width: 295px;
  }

  aside {
    width: auto;
  }
}

/******************************
* Shrink social media icons
* iPad landscape mode
******************************/
@media only screen and (max-width: 1040px) {
  .social div {
    width: 70px;
    height: 70px;
  }

  .social img {
    width: 70px;
    height: 70px;
  }

  #headerSideBar {
    width: 476px;
  }

  #headerTitle {
    margin-right: 476px;
  }

  h1 {
    font-size: 3.8em;
  }

  input {
    width: 438px;
  }
}

/******************************
* Turn off side bars
******************************/
@media only screen and (max-width: 900px) {
  #bodySideBar {
    display: none;
    visibility: hidden;
  }

  article {
    margin-right: 0px;
  }
}

/******************************
* Scale down social media
* iPad portrait mode
******************************/
@media only screen and (max-width: 830px) {
  .social div {
    width: 43px;
    height: 43px;
  }

  .social img {
    width: 43px;
    height: 43px;
  }

  input {
    width: 276px;
  }

  #headerSideBar {
    width: 308px;
  }

  h1 {
    font-size: 3em;
  }

  #headerTitle {
    margin-right: 308px;
  }

  .strapline {
    font-size: 1em;
  }
}

/******************************
* Drop heading under social media
* iPhone mode
******************************/
@media only screen and (max-width: 630px) {
  #headerSideBar {
    float: none;
    width: auto;
    text-align: left;
    clear: both;
  }

  #headerTitle {
    margin: 0px;
  }

  header .content-wrapper {
    width: 288px;
  }

  .social {
    float: none;
  }

    .social:after {
      content: ".";
      clear: both;
      display: block;
      height: 0;
      visibility: hidden;
    }
}
