/* Disqus now breaks for old browsers. Sorry ludites, no comments for you! */
#disqus_thread, .dsq-brlink
{
  visibility: hidden;
  display: none;
}

/* Can't get the right bar to play nice  so bugger it, no side bar for you! */
.contentContainer
{
  padding-right: 0;
}

article
{
  float: none;
  padding-right: 0;
}

#bodySideBar
{
  display: none;
  visibility: hidden;
}

article
{
  margin-right: 0;
}
