@font-face
{
  font-family: "OpenSansRegular";
  src: url("Fonts/OpenSans-Light-webfont.eot");
  src: url("Fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/OpenSans-Light-webfont.woff") format("woff"), url("Fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("Fonts/OpenSans-Light-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html
{
  margin: 0;
  padding: 0;
}

body
{
  background-color: #fff;
  color: #333;
  font-size: .9em;
  margin: 0;
}

body,
input[type="submit"],
input[type="button"],
button
{
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

a, a:link, a:visited
{
  color: #2aa9e0;
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in 0;
}

  a:hover
  {
    background-color: #e7ecee;
    text-decoration: none;
    transition: background-color 0.3s ease-in 0;
  }

  a.imageLink
  {
    border: none !important;
  }

.atm-s a, .atm-f a
{
  border-bottom: none;
}

header, footer, nav, section
{
  display: block;
}

header
{
  padding-bottom: 8px;
  background-color: #444444;
}

mark
{
  background-color: #a6dbed;
  padding-left: 5px;
  padding-right: 5px;
}

.float-left
{
  float: left;
}

.clear-fix:after
{
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

h1, h2, h3, h4
{
  font-family: "OpenSansRegular", "Segoe UI", Verdana, Helvetica, Sans-Serif;
  color: #000;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 100;
}

h1
{
  font-size: 5.2em;
  margin-top: 0;
}

  h1 a:link, h1 a:visited, h1 a:active, h1 a:hover
  {
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    border: none;
  }

h2
{
  font-size: 1.8em;
  font-weight: 100;
  margin-top: 0;
}

  h2 a, h2 a:link, h2 a:visited
  {
    text-decoration: none;
    color: #333;
    border: none;
  }

h3
{
  font-size: 1.65em;
}

h4
{
  font-size: 1.5em;
  line-height: 1.3em;
}

blockquote
{
  border-left: 4px solid #2d89ef;
  background-color: #f3f3f0;
  margin: 0;
  padding: 20px;
}

/* main layout
----------------------------------------------------------*/
.content-wrapper
{
  margin: 0 auto;
  max-width: 1470px;
  padding: 0 8px;
}

#body
{
  clear: both;
  padding-bottom: 35px;
}

.foo
{
  padding-right: 588px;
}

#bodySideBar
{
  margin-right: -588px;
  width: 576px;
}

.main-content
{
  padding-top: 8px;
}

#headerTitle
{
  margin-right: 576px;
}

article
{
  float: left;
}

  article img
  {
    height: auto !important;
    max-width: 100%;
    width: auto !important;
  }

article
{
  line-height: 1.5em;
  overflow: hidden;
}

  article h2
  {
    line-height: normal;
  }

  article .readMore
  {
    margin-top: 25px;
  }

    article .readMore a
    {
      padding: 4px 42px 5px 11px;
      color: #ffffff;
      font-size: 1.5em;
      background: #758289 url("Images/Arrow.svg") no-repeat 92% 54%;
    }

#bodySideBar,
#headerSideBar
{
  float: right;
}

#headerSideBar
{
  text-align: right;
  width: 568px;
}

aside
{
  float: right;
  color: white;
  margin-left: 8px;
}

  aside#primary
  {
    width: 300px;
  }

  aside#secondary
  {
    width: 260px;
  }

  aside div
  {
    margin-bottom: 8px;
    padding: 10px;
  }

    aside div img
    {
      display: block;
    }

  aside a:link, aside a:visited, aside a:active, aside a:hover
  {
    color: #FFFFFF;
  }

  aside .doubleBox
  {
    padding: 0;
  }

    aside .doubleBox div
    {
      margin-bottom: 0;
      width: 146px;
      padding: 0;
      float: left;
      margin-left: 4px;
    }

      aside .doubleBox div:first-child
      {
        margin-left: 0;
        margin-right: 4px;
      }

  aside div h3
  {
    margin-top: 0;
    color: white;
    margin-bottom: 13px;
  }


/* social
----------------------------------------------------------*/

.social
{
  float: right;
}

  .social a img
  {
    border: none;
  }

  .social div
  {
    float: left;
    margin: 8px 0 8px 8px;
  }

    .social div:first-child
    {
      margin-left: 0;
    }

  .social img
  {
    width: 88px;
    height: 88px;
  }

  .social #facebook
  {
    background-color: #3B5998;
  }

  .social #twitter
  {
    background-color: #2AA9E0;
  }

  .social #linkedIn
  {
    background-color: #007FB1;
  }

  .social #email
  {
    background-color: #D74F2A;
  }

  .social #rss
  {
    background-color: #F1A20C;
  }

  .social #googlePlus
  {
    background-color: #CB2C21;
  }

  .social a:hover
  {
    background-color: transparent;
  }

.strapline
{
  font-size: 1.1em;
  margin: 0;
  color: #ffffff;
}

/* social share
----------------------------------------------------------*/

.socialShare
{
  float: right;
  margin-top: 14px;
}

  .socialShare a, .socialShare a:link, .socialShare a:visited
  {
    border: none;
  }

    .socialShare a:hover
    {
      background-color: transparent;
    }

  .socialShare .addthis_button_facebook_like iframe
  {
    height: 20px !important;
    width: 90px !important;
  }

  .socialShare .addthis_button_tweet iframe
  {
    height: 20px !important;
    width: 102px !important;
  }

  .socialShare .addthis_button_google_plusone div
  {
    height: 20px !important;
    width: 76px !important;
  }

/* side bar boxes
----------------------------------------------------------*/

aside #about
{
  background-color: #009cae;
}

aside #photo
{
  background-color: #022237;
}

aside #mvp
{
  background-color: #33376F;
}

aside #asafaweb
{
  background-color: #1F1E1E;
  padding: 0;
}

  aside #asafaweb img
  {
    width: 280px;
    height: 90px;
  }

aside #photo img, aside #mvp img
{
  width: 146px;
  height: 146px;
}

aside #ebook
{
  background-color: #585858;
  padding: 0;
}

  aside #ebook img
  {
    width: 300px;
    height: 141px;
  }

aside #ad1, aside #ad2
{
  background-color: #959595;
  padding: 0;
  text-align: center;
  width: 100%;
}

aside #ad1
{
  height: 250px;
}

aside #ad2
{
  height: 600px;
}

aside #tags
{
  background-color: #2d89ef;
}

  aside #tags .label-size-5
  {
    font-size: 1.7em;
  }

  aside #tags .label-size-4
  {
    font-size: 1.5em;
  }

  aside #tags .label-size-3
  {
    font-size: 1.3em;
  }

  aside #tags .label-size-2
  {
    font-size: 1.1em;
  }

  aside #tags .label-size-1
  {
    font-size: 0.9em;
  }

aside #topPosts
{
  background-color: #525252;
}

  aside #topPosts a
  {
    border-bottom-color: #808080;
  }

    aside #topPosts a:hover
    {
      background-color: #6f6f6f;
    }

aside #archive
{
  background-color: #00a200;
}

aside #redgate img, aside #dzone img
{
  margin: 0 auto;
}

aside #redgate
{
  background-color: #ffffff;
}

  aside #redgate img
  {
    width: 248px;
    height: 98px;
  }

aside #dzone
{
  background-color: #e3e4e5;
}

  aside #dzone img
  {
    width: 200px;
    height: 91px;
  }

.label
{
  font-weight: 700;
}

input
{
  border: none;
  background: #e7e7e7;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 20px;
  vertical-align: middle;
}

  input:focus
  {
    outline: none;
  }

  input::-webkit-input-placeholder
  {
    color: #999;
  }

  input:-moz-placeholder
  {
    color: #999;
  }

  input:-ms-input-placeholder
  {
    color: #999;
  }


/* footer
----------------------------------------------------------*/

footer
{
  background-color: #444444;
  font-size: .8em;
}

#copyrightContainer, #disclaimerContainer, #designedByMeContainer
{
  width: 100%;
  float: left;
  position: relative;
}

#copyrightContainer
{
  background-color: #0099ab;
  right: 33.33%;
}

#copyright
{
  background-color: #0099ab;
}

#disclaimerContainer
{
  background-color: #0a56bf;
  right: 33.33%;
}

#disclaimer
{
  background-color: #0a56bf;
}

#designedByMeContainer
{
  background-color: #0077b0;
  overflow: hidden;
}

#designedByMe
{
  background-color: #0077b0;
}

footer h2
{
  color: #ffffff;
}

footer aside
{
  float: left;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  width: 33.33%;
  left: 66.66%;
  margin: 0;
}

  footer aside div
  {
    padding: 15px;
  }

/******************************
* Put side bars under each other
******************************/
@media only screen and (max-width: 1228px)
{
  #headerTitle
  {
    margin-right: 288px;
  }

  #headerSideBar
  {
    width: 300px;
  }

  h1
  {
    font-size: 3.4em;
  }

  .strapline
  {
    font-size: 1em;
  }

  .social #googlePlus, .social #rss
  {
    margin-left: 9px;
  }

  .social img
  {
    width: 43px;
    height: 43px;
  }

  input
  {
    width: 300px;
  }

  article
  {
    margin-right: 320px;
  }

  aside#secondary
  {
    width: 300px;
  }

  #bodySideBar
  {
    width: 300px;
  }

  aside
  {
    width: auto;
  }

  footer .content-wrapper
  {
    padding: 0;
  }
}

/******************************
* Turn off side bars
******************************/
@media only screen and (max-width: 972px)
{
  #bodySideBar
  {
    display: none;
    visibility: hidden;
  }

  article
  {
    margin-right: 0;
  }
}

/******************************
* Scale down header fonts
******************************/
@media only screen and (max-width: 860px)
{
  h1
  {
    font-size: 2.5em;
  }
}

/******************************
* Drop heading under social media
******************************/
@media only screen and (max-width: 615px)
{
  h1
  {
    font-size: 3.45em;
  }

  #designedByMe, .strapline, .socialShare
  {
    display: none;
    visibility: hidden;
  }

  #headerSideBar
  {
    float: none;
    width: auto;
    clear: both;
    padding: 0;
    text-align: center;
  }

  #headerTitle
  {
    text-align: center;
    margin: 0;
  }

  header .content-wrapper
  {
    width: 298px;
  }

  .social
  {
    float: none;
  }

    .social div
    {
      margin: 8px 4px 8px 4px !important;
    }

      .social div:first-child
      {
        margin-left: 0 !important;
      }

      .social div:last-child
      {
        margin-right: 0 !important;
      }

  input
  {
    width: 298px;
  }

  footer aside
  {
    float: none;
    width: auto !important;
    color: #ffffff;
  }
}

@media print
{
  #headerSideBar, #bodySideBar, .socialShare, #designedByMe, #disqus_thread
  {
    display: none;
    visibility: hidden;
  }

  #headerTitle, article
  {
    margin: 0;
  }

  footer aside
  {
    width: 50%;
    left: auto;
  }

  #copyrightContainer, #disclaimerContainer
  {
    width: auto;
    right: auto;
  }
}
