@font-face {
  font-family: "OpenSansRegular";
  src: url("Fonts/OpenSans-Light-webfont.eot");
  src: url("Fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/OpenSans-Light-webfont.woff") format("woff"), url("Fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("Fonts/OpenSans-Light-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  font-size: .9em;
  margin: 0;
}

body,
input[type="submit"],
input[type="button"],
button {
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

a, a:link, a:visited {
  color: #2aa9e0;
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in 0s;
}

  a:hover {
    background-color: #e7ecee;
    text-decoration: none;
    transition: background-color 0.3s ease-in 0s;
  }

  a.imageLink {
    border: none !important;
  }

.atm-s a, .atm-f a {
  border-bottom: none;
}

header, footer, nav, section {
  display: block;
}

header {
  padding-bottom: 8px;
  background-color: #444444;
}

footer {
  background-color: #444444;
  font-size: .8em;
}

mark {
  background-color: #a6dbed;
  padding-left: 5px;
  padding-right: 5px;
}

.float-left {
  float: left;
}

.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

h1, h2, h3, h4 {
  font-family: "OpenSansRegular", "Segoe UI", Verdana, Helvetica, Sans-Serif;
  color: #000;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 100;
}

h1 {
  font-size: 5.2em;
  margin-top: 0px;
}

  h1 a:link, h1 a:visited, h1 a:active, h1 a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    border: none;
  }

h2 {
  font-size: 1.8em;
  font-weight: 100;
  margin-top: 0px;
}

  h2 a, h2 a:link, h2 a:visited {
    text-decoration: none;
    color: #333;
    border: none;
  }

h3 {
  font-size: 1.65em;
}

h4 {
  font-size: 1.5em;
}

blockquote {
  border-left: 4px solid #2d89ef;
  background-color: #f3f3f0;
  margin: 0px;
  padding: 20px;
}

/* main layout
----------------------------------------------------------*/
.content-wrapper {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0px 8px;
}

#body {
  clear: both;
  padding-bottom: 35px;
}

.main-content {
  padding-top: 8px;
}

#headerTitle {
  margin-right: 576px;
}

article img {
  height: auto !important;
  max-width: 100%;
  width: auto !important;
}

article {
  line-height: 1.5em;
}

  article h2 {
    line-height: normal;
  }

  article .readMore {
    margin-top: 25px;
  }

    article .readMore a {
      background-color: #758289;
      padding: 4px 42px 5px 11px;
      color: #ffffff;
      font-size: 1.5em;
      background-image: url("Images/Arrow.svg");
      background-position: 126px 11px;
      background-repeat: no-repeat;
    }

footer h2 {
  color: #ffffff;
}

footer aside {
  float: left;
  width: 33%;
  color: #ffffff;
}

  footer aside div {
    padding: 15px;
    margin: 0px;
    height: 100%;
  }

#copyright {
  background-color: #0099ab;
}


#disclaimer {
  background-color: #0a56bf;
  width: 34%;
}


#designedByMe {
  background-color: #0077b0;
}

/* social
----------------------------------------------------------*/

.social {
  float: right;
}

  .social a img {
    border: none;
  }

  .social div {
    width: 88px;
    height: 88px;
    background-color: red;
    float: left;
    margin: 8px 0px 8px 8px;
  }

    .social div:first-child {
      margin-left: 0px;
    }

  .social img {
    width: 88px;
    height: 88px;
  }

  .social #facebook {
    background-color: #3B5998;
  }

  .social #twitter {
    background-color: #2AA9E0;
  }

  .social #linkedIn {
    background-color: #007FB1;
  }

  .social #email {
    background-color: #D74F2A;
  }

  .social #rss {
    background-color: #F1A20C;
  }

  .social #googlePlus {
    background-color: #CB2C21;
  }

  .social a:hover {
    background-color: transparent;
  }

.strapline {
  font-size: 1.1em;
  margin: 0px;
  color: #ffffff;
}

/* social share
----------------------------------------------------------*/

.socialShare {
  float: right;
  margin-top: 14px;
}

  .socialShare a, .socialShare a:link, .socialShare a:visited {
    border: none;
  }

    .socialShare a:hover {
      background-color: transparent;
    }

div.atclear {
  clear: none !important;
}

/* body
----------------------------------------------------------*/
article {
  margin-right: 576px;
}

#bodySideBar,
#headerSideBar {
  width: 576px;
  padding-left: 12px;
  float: right;
}

#headerSideBar {
  text-align: right;
}

aside {
  float: right;
  width: 50%;
  color: white;
}

  aside div {
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 10px;
  }

    aside div img {
      display: block;
    }

  aside a:link, aside a:visited, aside a:active, aside a:hover {
    color: #FFFFFF;
  }

  aside .doubleBox {
    padding: 0px;
  }

    aside .doubleBox div {
      margin-bottom: 0px;
      width: 136px;
      padding: 0px;
      float: left;
      margin-left: 4px;
    }

      aside .doubleBox div:first-child {
        margin-left: 0px;
        margin-right: 4px;
      }

  aside div h3 {
    margin-top: 0px;
    color: white;
    margin-bottom: 13px;
  }

  /* side bar boxes
----------------------------------------------------------*/

  aside #about {
    background-color: #009cae;
  }

  aside #photo {
    background-color: #022237;
  }

  aside #mvp {
    background-color: #33376F;
  }

  aside #asafaweb {
    background-color: #1F1E1E;
    padding: 0px;
  }

    aside #asafaweb img {
      width: 280px;
      height: 90px;
    }

  aside #photo, aside #mvp {
    height: 136px;
  }

    aside #photo img, aside #mvp img {
      width: 136px;
      height: 136px;
    }

  aside #ebook {
    background-color: #585858;
    padding: 0px;
  }

    aside #ebook img {
      width: 280px;
      height: 129px;
    }

  aside #ad1, aside #ad2 {
    background-color: #959595;
    height: 250px;
  }

  aside #tags {
    background-color: #2d89ef;
  }

    aside #tags .label-size-5 {
      font-size: 1.7em;
    }

    aside #tags .label-size-4 {
      font-size: 1.5em;
    }

    aside #tags .label-size-3 {
      font-size: 1.3em;
    }

    aside #tags .label-size-2 {
      font-size: 1.1em;
    }

    aside #tags .label-size-1 {
      font-size: 0.9em;
    }

  aside #topPosts {
    background-color: #525252;
  }

    aside #topPosts a {
      border-bottom-color: #808080;
    }

      aside #topPosts a:hover {
        background-color: #6f6f6f;
      }

  aside #archive {
    background-color: #00a200;
  }

  aside #redgate {
    background-color: #ffffff;
  }

  aside #dzone {
    background-color: #e3e4e5;
  }

  aside #dzone, aside #redgate {
    height: 57px;
  }

    aside #dzone img, aside #redgate img {
      width: 134px;
      height: 57px;
    }

.label {
  font-weight: 700;
}

input {
  border: 1px solid #e2e2e2;
  background: #fff;
  color: #333;
  margin: 0px;
  width: 566px;
  height: 20px;
  vertical-align: middle;
}

  input:focus, textarea:focus {
    border: 1px solid #7ac0da;
  }

  input[type="submit"],
  input[type="button"],
  button {
    background-color: #e2e2e2;
    cursor: pointer;
    font-size: 0.8em;
    width: 60px;
    padding: 0 5px;
    height: 32px;
    vertical-align: middle;
  }

/******************************
* Put side bars under each other
******************************/
@media only screen and (max-width: 1200px) {
  #headerTitle {
    margin-right: 288px;
  }

  #headerSideBar {
    width: 288px;
  }

  h1 {
    font-size: 3.1em;
  }

  .strapline {
    font-size: 1em;
  }

  .social div {
    width: 40px;
    height: 40px;
  }

  .social img {
    width: 40px;
    height: 40px;
  }

  input {
    width: 278px;
  }

  article {
    margin-right: 288px;
  }

  #bodySideBar {
    width: 288px;
  }

  aside {
    width: auto;
  }

  footer .content-wrapper {
    padding: 0px;
  }
}

/******************************
* Turn off side bars
******************************/
@media only screen and (max-width: 955px) {
  #bodySideBar {
    display: none;
    visibility: hidden;
  }

  article {
    margin-right: 0px;
  }
}

/******************************
* Scale down header fonts
******************************/
@media only screen and (max-width: 860px) {
  h1 {
    font-size: 2.1em;
  }
}

/******************************
* Drop heading under social media
******************************/
@media only screen and (max-width: 615px) {
  #designedByMe, .strapline, .socialShare {
    display: none;
    visibility: hidden;
  }

  article iframe {
    height: auto !important;
    max-width: 100%;
    width: auto !important;
  }

  #headerSideBar {
    float: none;
    width: auto;
    clear: both;
    padding: 0px;
    text-align: center;
  }

  #headerTitle {
    text-align: center;
    margin: 0px;
  }

  header .content-wrapper {
    width: 288px;
  }

  .social {
    float: none;
  }

    .social div {
      margin: 8px 4px 8px 4px !important;
    }

  footer aside {
    float: none;
    width: auto !important;
    color: #ffffff;
  }
}
