@font-face
{
  font-family: "OpenSansRegular";
  src: url("Fonts/OpenSans-Light-webfont.eot");
  src: url("Fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("Fonts/OpenSans-Light-webfont.woff") format("woff"), url("Fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("Fonts/OpenSans-Light-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html
{
  margin: 0;
  padding: 0;
}

body
{
  font-size: .9em;
  margin: 0;
}

body,
input[type="submit"],
input[type="button"],
button
{
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

a, a:link, a:visited
{
  color: #2aa9e0;
  outline: none;
  text-decoration: none;
  border-bottom: 1px solid #e5e5e5;
}

  a:hover
  {
    background-color: #e7ecee;
    text-decoration: none;
  }

  a.imageLink, a img
  {
    border: none !important;
  }

    a.imageLink:hover
    {
      background-color: transparent;
    }

.atm-s a, .atm-f a
{
  border-bottom: none;
}

header, footer, nav, section
{
  display: block;
}

header
{
  padding-bottom: 8px;
}

mark
{
  background-color: #a6dbed;
  padding-left: 5px;
  padding-right: 5px;
}

.float-left
{
  float: left;
}

.clearFix:after
{
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

h1, h2, h3, h4
{
  font-family: "OpenSansRegular", "Segoe UI", Verdana, Helvetica, Sans-Serif;
  color: #000;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 100;
}

h1
{
  font-size: 5.2em;
  margin: 0 !important;
  line-height: 1.4;
}

  h1 a:link, h1 a:visited, h1 a:active, h1 a:hover
  {
    text-decoration: none;
    color: #000000;
    border: none;
  }

h2
{
  font-size: 1.8em;
  font-weight: 100;
  margin-top: 0;
}

  h2 a, h2 a:link, h2 a:visited
  {
    text-decoration: none;
    color: #333;
    border: none;
  }

h3
{
  font-size: 1.65em;
}

h4
{
  font-size: 1.5em;
  line-height: 1.3em;
}

blockquote
{
  border-left: 4px solid #2d89ef;
  background-color: #f3f3f0;
  margin: 0;
  padding: 20px;
}

/* main layout
----------------------------------------------------------*/
.contentWrapper /*Used to keep everything centred and within a max width */
{
  margin: 0 auto;
  max-width: 1470px;
  padding: 0 8px;
}

#wrapper /* Used to leave a space for the right menu */
{
  padding-right: 576px;
}

.section
{
  margin: 0;
}

#bodySideBarWrapper
{
  margin-right: -576px;
  width: 576px;
}

  #bodySideBarWrapper ol
  {
    padding-left: 0;
  }

  #bodySideBarWrapper li
  {
    list-style: none;
    margin: 1em 0;
  }

#headerTitle
{
  margin-right: 576px;
}

#main
{
  float: left;
  overflow: hidden;
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-right: 12px;
}

  #main img
  {
    height: auto !important;
    max-width: 100%;
    width: auto !important;
  }

#main
{
  line-height: 1.5em;
}

  #main h2
  {
    line-height: normal;
  }

  #main .readMore
  {
    margin-top: 25px;
    margin-bottom: 50px;
  }

    #main .readMore a
    {
      padding: 4px 42px 5px 11px;
      color: #ffffff;
      font-size: 1.3em;
      background: #758289 url("Images/Arrow.svg") no-repeat 92% 54%;
    }

#bodySideBarWrapper,
#headerSideBar
{
  float: right;
}

#headerSideBar
{
  text-align: right;
  width: 568px;
  padding-left: 10px;
}

.sideBar
{
  float: right;
  color: white;
  margin-left: 8px;
}

#sidebar-right-1
{
  width: 300px;
}

#sidebar-right-2
{
  width: 260px;
}

.sideBar .panel
{
  margin-bottom: 8px;
  padding: 10px;
}

  .sideBar .panel img
  {
    display: block;
  }

.sideBar a:link, .sideBar a:visited, .sideBar a:active, .sideBar a:hover
{
  color: #FFFFFF;
}

.sideBar .doubleBox
{
  padding: 0;
}

  .sideBar .doubleBox div
  {
    margin-bottom: 0;
    width: 146px;
    padding: 0;
    float: left;
    margin-left: 4px;
  }

    .sideBar .doubleBox div:first-child
    {
      margin-left: 0;
      margin-right: 4px;
    }

.sideBar div h3
{
  margin-top: 0;
  color: white;
  margin-bottom: 13px;
}

#disqus_thread
{
  margin-top: 50px;
}

/* social
----------------------------------------------------------*/

.social
{
  float: right;
}

  .social a img
  {
    border: none;
    display: block;
  }

  .social div
  {
    float: left;
    margin: 8px 0 6px 8px;
  }

    .social div:first-child
    {
      margin-left: 0;
    }

  .social img
  {
    width: 88px;
    height: 88px;
  }

  .social #facebook
  {
    background-color: #3B5998;
    background-size: 1px 200px;
    background: -moz-linear-gradient(-45deg, #3B5998 0, #5d7ab6 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0,#3B5998), color-stop(100%,#5d7ab6));
    background: -webkit-linear-gradient(-45deg, #3B5998 0,#5d7ab6 100%);
    background: -o-linear-gradient(-45deg, #3B5998 0,#5d7ab6 100%);
    background: -ms-linear-gradient(-45deg, #3B5998 0,#5d7ab6 100%);
    background: linear-gradient(135deg, #3B5998 0,#5d7ab6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B5998', endColorstr='#5d7ab6',GradientType=1 );
  }

  .social #twitter
  {
    background: #2AA9E0;
    background: -moz-linear-gradient(-45deg, #2AA9E0 0, #5ac1ee 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0,#2AA9E0), color-stop(100%,#5ac1ee));
    background: -webkit-linear-gradient(-45deg, #2AA9E0 0,#5ac1ee 100%);
    background: -o-linear-gradient(-45deg, #2AA9E0 0,#5ac1ee 100%);
    background: -ms-linear-gradient(-45deg, #2AA9E0 0,#5ac1ee 100%);
    background: linear-gradient(135deg, #2AA9E0 0,#5ac1ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2AA9E0', endColorstr='#5ac1ee',GradientType=1 );
  }

  .social #linkedIn
  {
    background-color: #007FB1;
    background: -moz-linear-gradient(-45deg, #007FB1 0, #2299c8 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0,#007FB1), color-stop(100%,#2299c8));
    background: -webkit-linear-gradient(-45deg, #007FB1 0,#2299c8 100%);
    background: -o-linear-gradient(-45deg, #007FB1 0,#2299c8 100%);
    background: -ms-linear-gradient(-45deg, #007FB1 0,#2299c8 100%);
    background: linear-gradient(135deg, #007FB1 0,#2299c8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007FB1', endColorstr='#2299c8',GradientType=1 );
  }

  .social #email
  {
    background-color: #D74F2A;
    background: -moz-linear-gradient(-45deg, #D74F2A 0, #f16e4b 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0,#D74F2A), color-stop(100%,#f16e4b));
    background: -webkit-linear-gradient(-45deg, #D74F2A 0,#f16e4b 100%);
    background: -o-linear-gradient(-45deg, #D74F2A 0,#f16e4b 100%);
    background: -ms-linear-gradient(-45deg, #D74F2A 0,#f16e4b 100%);
    background: linear-gradient(135deg, #D74F2A 0,#f16e4b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D74F2A', endColorstr='#f16e4b',GradientType=1 );
  }

  .social #rss
  {
    background-color: #F1A20C;
    background: -moz-linear-gradient(-45deg, #F1A20C 0, #fbc358 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0,#F1A20C), color-stop(100%,#fbc358));
    background: -webkit-linear-gradient(-45deg, #F1A20C 0,#fbc358 100%);
    background: -o-linear-gradient(-45deg, #F1A20C 0,#fbc358 100%);
    background: -ms-linear-gradient(-45deg, #F1A20C 0,#fbc358 100%);
    background: linear-gradient(135deg, #F1A20C 0,#fbc358 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1A20C', endColorstr='#fbc358',GradientType=1 );
  }

  .social #googlePlus
  {
    background-color: #CB2C21;
    background: -moz-linear-gradient(-45deg, #CB2C21 0, #e55147 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0,#CB2C21), color-stop(100%,#e55147));
    background: -webkit-linear-gradient(-45deg, #CB2C21 0,#e55147 100%);
    background: -o-linear-gradient(-45deg, #CB2C21 0,#e55147 100%);
    background: -ms-linear-gradient(-45deg, #CB2C21 0,#e55147 100%);
    background: linear-gradient(135deg, #CB2C21 0,#e55147 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CB2C21', endColorstr='#e55147',GradientType=1 );
  }

  .social a:hover
  {
    background-color: transparent;
  }

.strapline
{
  font-size: 1.1em;
  margin: 0;
  line-height: 1.3em;
}

/* social share
----------------------------------------------------------*/

.socialShare
{
  float: right;
  margin-top: 14px;
}

  .socialShare a, .socialShare a:link, .socialShare a:visited
  {
    border: none;
  }

    .socialShare a:hover
    {
      background-color: transparent;
    }

  .socialShare .addthis_button_facebook_like iframe
  {
    height: 20px !important;
    width: 90px !important;
  }

  .socialShare .addthis_button_tweet iframe
  {
    height: 20px !important;
    width: 102px !important;
  }

  .socialShare .addthis_button_google_plusone div
  {
    height: 20px !important;
    width: 76px !important;
  }

/* side bar boxes 
----------------------------------------------------------*/

#about
{
  background-color: #009cae;
  background: -moz-linear-gradient(-45deg, #009cae 0, #00bdce 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0,#009cae), color-stop(100%,#00bdce));
  background: -webkit-linear-gradient(-45deg, #009cae 0,#00bdce 100%);
  background: -o-linear-gradient(-45deg, #009cae 0,#00bdce 100%);
  background: -ms-linear-gradient(-45deg, #009cae 0,#00bdce 100%);
  background: linear-gradient(135deg, #009cae 0,#00bdce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009cae', endColorstr='#00bdce',GradientType=1 );
}

#photo
{
  background-color: #022237;
}

#mvp
{
  background-color: #33376F;
  background: -moz-linear-gradient(-45deg, #33376F 0, #464b97 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0,#33376F), color-stop(100%,#464b97));
  background: -webkit-linear-gradient(-45deg, #33376F 0,#464b97 100%);
  background: -o-linear-gradient(-45deg, #33376F 0,#464b97 100%);
  background: -ms-linear-gradient(-45deg, #33376F 0,#464b97 100%);
  background: linear-gradient(135deg, #33376F 0,#464b97 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33376F', endColorstr='#464b97',GradientType=1 );
}

#asafaweb
{
  background-color: #1F1E1E;
  padding: 0;
}

  #asafaweb img
  {
    width: 300px;
    height: 110px;
  }

#photo img, #mvp img
{
  width: 146px;
  height: 146px;
}

#ebook
{
  background-color: #585858;
  padding: 0;
}

  #ebook img
  {
    width: 300px;
    height: 141px;
  }

#ad1, #ad2
{
  background-color: #d9d9d9;
  padding: 0;
  text-align: center;
  width: 100%;
}

#ad1
{
  height: 250px;
}

#ad2
{
  height: 600px;
}

#tags
{
  background-color: #128512;
  background: -moz-linear-gradient(-45deg, #128512 0, #00a200 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0,#128512), color-stop(100%,#00a200));
  background: -webkit-linear-gradient(-45deg, #128512 0,#00a200 100%);
  background: -o-linear-gradient(-45deg, #128512 0,#00a200 100%);
  background: -ms-linear-gradient(-45deg, #128512 0,#00a200 100%);
  background: linear-gradient(135deg, #128512 0,#00a200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#128512', endColorstr='#00a200',GradientType=1 );
}

  #tags a
  {
    border-bottom-color: #35b735;
  }

    #tags a:hover
    {
      background-color: #117311;
    }

  #tags .label-size-5
  {
    font-size: 1.5em;
  }

  #tags .label-size-4
  {
    font-size: 1.35em;
  }

  #tags .label-size-3
  {
    font-size: 1.2em;
  }

  #tags .label-size-2
  {
    font-size: 1.05em;
  }

  #tags .label-size-1
  {
    font-size: 0.9em;
  }

#topPosts
{
  background-color: #2373cb;
  background: -moz-linear-gradient(-45deg, #2373cb 0, #2d89ef 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0,#2373cb), color-stop(100%,#2d89ef));
  background: -webkit-linear-gradient(-45deg, #2373cb 0,#2d89ef 100%);
  background: -o-linear-gradient(-45deg, #2373cb 0,#2d89ef 100%);
  background: -ms-linear-gradient(-45deg, #2373cb 0,#2d89ef 100%);
  background: linear-gradient(135deg, #2373cb 0,#2d89ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2373cb', endColorstr='#2d89ef',GradientType=1 );
}

  #topPosts a
  {
    border-bottom-color: #81b5f1;
  }

    #topPosts a:hover
    {
      background-color: #4a86cb;
    }

#archive
{
  background-color: #d34927;
  background: -moz-linear-gradient(-45deg, #d34927 0, #e76343 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0,#d34927), color-stop(100%,#e76343));
  background: -webkit-linear-gradient(-45deg, #d34927 0,#e76343 100%);
  background: -o-linear-gradient(-45deg, #d34927 0,#e76343 100%);
  background: -ms-linear-gradient(-45deg, #d34927 0,#e76343 100%);
  background: linear-gradient(135deg, #d34927 0,#e76343 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d34927', endColorstr='#e76343',GradientType=1 );
}

  #archive a
  {
    border-bottom-color: #ed775a;
  }

    #archive a:hover
    {
      background-color: #b73c1e;
    }

  #archive ul:first-child
  {
    margin-left: -12px !important;
  }

#redgate
{
  background-color: #ffffff;
  padding: 6px;
}

  #redgate img
  {
    width: 248px;
    height: 98px;
  }

#dzone
{
  background-color: #e3e4e5;
  padding: 5px 30px;
}

  #dzone img
  {
    width: 200px;
    height: 91px;
  }

.label
{
  font-weight: 700;
}

input
{
  border: none;
  background: #e7e7e7;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 20px;
  vertical-align: middle;
}

  input:focus
  {
    outline: none;
  }

  input::-webkit-input-placeholder, input:-moz-placeholder, input:-ms-input-placeholder
  {
    color: #999;
  }

/* Blogger template overrides
----------------------------------------------------------*/

.widget
{
  margin: 0;
}

a.toggle
{
  border: none !important;
  font-size: 0.7em;
}

  a.toggle:hover
  {
    background-color: transparent;
  }

.posts a
{
  line-height: 1.5em;
}

.BlogArchive #ArchiveList ul li
{
  text-indent: 0;
}

/* Just can't get this stuff turned off!!! */
.date-header, .blog-pager, .blog-feeds, .gsc-search-button
{
  display: none;
  visibility: hidden;
}

/* search
----------------------------------------------------------*/

.gsc-above-wrapper-area, .gsc-tabsArea
{
  padding: 0 !important;
  margin: 0 !important;
}

#uds-searchControl .gsc-results, .gsc-tabhActive
{
  background-color: red;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.gsc-tabhInactive
{
  background-color: blue !important;
  margin: 0 !important;
  padding: 0 !important;
}

.gs-spacer
{
  display: none;
  visibility: hidden;
}

/* footer
----------------------------------------------------------*/

footer
{
  font-size: .8em;
  margin-top: 35px;
}

#copyrightContainer, #disclaimerContainer, #designedByMeContainer
{
  width: 100%;
  float: left;
  position: relative;
}

#copyrightContainer
{
  background-color: #0099ab;
  right: 33.33%;
}

  #copyrightContainer a
  {
    border-bottom-color: #1cbbce;
    color: #ffffff;
  }

#copyright
{
  background-color: #0099ab;
}

  #copyright a:hover
  {
    background-color: #50c1ce;
  }

  #copyright a, #copyright a:link, #copyright a:visited
  {
    border-bottom: 1px solid #73b3bb;
  }

#disclaimerContainer
{
  background-color: #0a56bf;
  right: 33.33%;
}

#disclaimer
{
  background-color: #0a56bf;
}

#designedByMeContainer
{
  background-color: #0077b0;
  overflow: hidden;
}

#designedByMe
{
  background-color: #0077b0;
}

footer h2
{
  color: #ffffff;
}

footer aside
{
  float: left;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  width: 33.33%;
  left: 66.66%;
  margin: 0;
}

  footer aside div
  {
    padding: 15px;
    margin: 0;
  }

    footer aside div p
    {
      margin-bottom: 0;
    }


/* transitions
----------------------------------------------------------*/

a, a:link, a:visited, a:hover, .social div, .social div:hover
{
  transition: background 0.35s ease-in 0;
  -moz-transition: background .35s ease-in;
  -o-transition: background .35s ease-in;
  -webkit-transition: background .35s ease-in;
}

/******************************
* Put side bars under each other
******************************/
@media only screen and (max-width: 1228px)
{
  #headerTitle
  {
    margin-right: 288px;
  }

  #headerSideBar
  {
    width: 300px;
  }

  #wrapper
  {
    padding-right: 308px;
  }

  #bodySideBarWrapper
  {
    margin-right: -308px;
    width: 300px;
  }

  h1
  {
    font-size: 2.9em;
  }

  .strapline
  {
    font-size: 1em;
  }

  .social #googlePlus, .social #rss
  {
    margin-left: 9px;
  }

  .social img
  {
    width: 43px;
    height: 43px;
  }

  input
  {
    width: 300px;
  }

  #sidebar-right-2
  {
    width: 300px;
  }

  .sideBar
  {
    width: auto;
  }

  footer .contentWrapper
  {
    padding: 0;
  }
}

/******************************
* Turn off side bars
******************************/
@media only screen and (max-width: 982px)
{
  #wrapper
  {
    padding-right: 0;
  }

  #main
  {
    float: none;
    padding-right: 0;
  }

  #bodySideBarWrapper
  {
    display: none;
    visibility: hidden;
  }

  #main
  {
    margin-right: 0;
  }
}

/******************************
* Scale down header fonts
******************************/
@media only screen and (max-width: 860px)
{
  h1
  {
    font-size: 2.5em;
  }
}

/******************************
* Drop heading under social media
******************************/
@media only screen and (max-width: 630px)
{
  header
  {
    background-color: #e7ecee;
  }

  input
  {
    background: #ffffff;
  }

  h1
  {
    font-size: 3.45em;
  }

  #designedByMe, .strapline, .socialShare
  {
    display: none;
    visibility: hidden;
  }

  #headerSideBar
  {
    float: none;
    width: auto;
    clear: both;
    padding: 0;
    text-align: center;
  }

  #headerTitle
  {
    text-align: center;
    margin: 0;
  }

  header
  {
    width: 298px;
  }

  .social
  {
    float: none;
  }

    .social div
    {
      margin: 8px 4px 8px 4px !important;
    }

      .social div:first-child
      {
        margin-left: 0 !important;
      }

      .social div:last-child
      {
        margin-right: 0 !important;
      }

  input
  {
    width: 298px;
  }

  footer aside
  {
    float: none;
    width: auto !important;
    color: #ffffff;
  }
}

@media print
{
  #headerSideBar, #bodySideBarWrapper, .socialShare, #designedByMe, #disqus_thread
  {
    display: none;
    visibility: hidden;
  }

  #headerTitle, #main
  {
    margin: 0;
  }

  footer aside
  {
    width: 50%;
    left: auto;
  }

  #copyrightContainer, #disclaimerContainer
  {
    width: auto;
    right: auto;
  }

  #main
  {
    padding: 0;
  }
}
